# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\CodeProgram\IdeaProjects\chatClientDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
